.content {
  padding: 3.5rem 0;
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: relative;
  min-height: 100vh;

  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
