.bottom-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.09) 0 -6px 9px 0;
  background: white;
  padding: 0.5rem 0;
}
.bottom-panel .date {
  align-self: center;
  font-size: 0.8rem;
  text-align: center;
}
.bottom-panel .panel-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.bottom-panel svg {
  cursor: pointer;
}
.bottom-panel .sort {
  align-self: center;
  cursor: pointer;
  width: 30px;
}

