.loader {
  text-align: center;
  margin: 0.5rem 0;
}
.loader svg {
  animation-name: metal;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier;
  transform-origin: 37% 69%;
}
@keyframes metal {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
