.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  background: white;
  padding: 0.5rem 0;
}
.top-panel .panel-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.top-panel .date {
  align-self: center;
}
